streamlit
pandas
plotly
psycopg2
requests
tweepy
networkx
pyngrok
requests
bs4
urllib3
html5lib
nltk
matplotlib
lxml
yfinance
jupyterlab
ta
ta-lib
fastapi
uvicorn
texttable
bs4
